.wrap-post-useful{
	width:100%;
	overflow: hidden;
	padding:10px;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	-webkit-border-radius: 3px;
	margin:10px 0;
}
	.wrap-post-useful p{
		float:left;
		margin:8px 15px 0 0;
	}
	.post_useful_success{ display:none; }

	.post-useful-buttons{
		float:left;
		overflow:hidden;
	}
		.post-useful-vote{
			float:left;
			text-indent: 100%;
			white-space: nowrap;
			overflow: hidden;
			width:32px;
			height:32px;
			display: inline-block;
			text-decoration: none;
			border:0;
		}
			.post-useful-vote-yes{
				background:url("../images/yes_hover.png") no-repeat;
				background-position: 0 0;
			}
				.post-useful-vote-yes:hover{ background-position: 0 32px; }
			.post-useful-vote-no{
				background:url("../images/no_hover.png") no-repeat;
				margin-left:10px;
			}
				.post-useful-vote-no:hover{ background-position: 0 32px; }
			.post_useful_active{ background-position: 0 32px; }

/* Admin Styles */
.post-useful-metabox {
	float:none !important;
}
.post-useful-metabox .post-useful-vote {
	width: 55px;
	padding-left: 35px;
	line-height: 32px;
	
	text-indent: 0;
}

.post-useful-metabox .post-useful-vote-no {
	position: relative;
	top: 1px;
}

.post-useful-metabox > .post-useful-vote-yes:hover,
.post-useful-metabox > .post-useful-vote-no:hover {
	background-position: 0 0 !important;
}